[package]
name = "gfautil"
version = "0.1.0"
authors = ["christian <christian@chfi.se>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gfa = { path = "../rs-gfa" }
handlegraph = { path = "../rs-handlegraph" }
structopt = "0.3"
